@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@layer base {
    li {
        @apply p-4
    }

    button {
        @apply text-white border bg-indigo-600 border-indigo-600
        hover:bg-slate-400 hover:text-indigo-600 rounded-md
    }
}

.ubicacion {
    height: 40vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.title {
    font-family: "Shadows Into Light", cursive;
}
